version: '3.8'

services:
  neo4j:
    image: neo4j:5.12
    container_name: map-of-science-neo4j
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    environment:
      NEO4J_AUTH: neo4j/password
      NEO4J_PLUGINS: '["apoc"]'
    volumes:
      - ./data/neo4j:/data
      - ./logs/neo4j:/logs

  redis:
    image: redis:7.2
    container_name: map-of-science-redis
    ports:
      - "6380:6379"
    volumes:
      - ./data/redis:/data

  backend:
    build: ./backend
    container_name: map-of-science-backend
    ports:
      - "5001:5000"
    environment:
      NEO4J_URI: bolt://neo4j:7687
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: password
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - neo4j
      - redis
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: map-of-science-frontend
    ports:
      - "3001:3000"
    environment:
      REACT_APP_API_URL: http://localhost:5001
      HOST: 0.0.0.0
      PORT: 3000
      WDS_SOCKET_PORT: 0
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
